<div class="medication-card">
    <div class="medication-details">
        <div class="medication-name">
            <h4>Medicine Name: {{data.medicine_name}}</h4>
            <div (click)="openDialog(data)" class="i-button">
                <span>i</span>
            </div>
        </div>
        <span *ngIf="data.start_date">Start Date: {{data.start_date}}</span>
        <span *ngIf="data.frequency">Frequency: {{data.frequency}}</span>
        <span *ngIf="data.dosage">Dosage: {{data.dosage}}</span>
    </div>
    <div class="time-container">
        <ng-container *ngFor="let schedule of data.schedule">
            <span class="chip">Time: {{schedule.time}} | Slot: {{schedule.slot.start}} - {{schedule.slot.end}}</span>
        </ng-container>
    </div>

</div>
<!-- <app-dialog ></app-dialog> -->


