.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;

    .file-upload-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        margin: 4rem 0 1rem 0;
        
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            background-color: rgb(223, 223, 249);
            padding: 1.5rem;
            border-radius: 0.5rem;
            
            .custom-file-input {
                display: inline-block;
                width: 88%;
                padding:0.75rem 1rem;
                background-color: white;
                cursor: pointer;
                border-radius: 0.25rem;
            }
            input[type="file"] {
                display: none;
            }
            
            .upload-button {
                padding: 0.5rem;
                color: white;
                background-color: rgb(42, 42, 148);
                border-radius: 0.25rem;
                border: none;
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .display-patient-info {
        height: 30%;
        background-color: rgb(247 247 255);
        
        .patient-info-container {
            
            padding: 1rem;
            
            .info-container {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                border-radius: 0.25rem;
                background-color: white;
                padding: 1rem;

                .patients-name {
                    display: flex;
                    gap: 1rem;
                    justify-content: space-between;
                }

                .patients-details {
                    display: flex;
                    gap: 4rem;
                    justify-content: space-between;
                }
            }
        }

    }

    .display-medication-container {
        padding: 0.75rem;
        height: 60%;
        background-color: rgb(223, 223, 249);
        
        .noData-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(116, 116, 116);
        }

        .header {
            display: flex;
            justify-content: space-between;
            .warnings-button {
                margin: 0;
                background-color: rgb(152, 27, 27);
                color: white;
                padding: 0.5rem;
                border: none;
                border-radius: 0.25rem;
                display: flex;
                gap: 0.15rem;
                align-items: center;

                img {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
        .cards-container {
            overflow-x: auto;
            display: flex;
            gap: 1rem;
            padding: 1rem 0 2rem 0;
        }
    }
}

.patient-details-title {
    font-weight: bold;
}

.loading-animation {
    animation: fadeInOut 1.5s infinite ease-in-out;
    color: #000;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}



