<div class="dialog-backdrop" *ngIf="dialogVisible">
  <div class="dialog-box" *ngIf="dialogData.type === 'medication-card'">
    <div class="sideEffects-links-container">
      <div class="container">
        <div class="sideEffects-title" *ngIf="dialogData.data.side_effects">
          <div class="header-container">
            <h4>SideEffects</h4>
            <button
              (click)="showSideEffects($event)"
              class="sideEffects-button"
            >
              {{
                isSideEffectsVisible ? "Show Side-Effects" : "Hide Side-Effects"
              }}
            </button>
          </div>
          <img src="../../../assets/close-window.png" (click)="closeDialog()" />
        </div>
        <div
          class="sideEffects-container"
          *ngIf="isSideEffectsVisible === false"
        >
          <ul>
            <ng-container
              *ngFor="let sideEffect of dialogData.data.side_effects"
            >
              <li>{{ sideEffect | capitalise }}</li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="container" *ngIf="dialogData.data.links">
        <h4>Links</h4>
        <div class="links-container">
          <ng-container *ngFor="let link of dialogData.data.links">
            <span><a [href]="link" target="_blank">Link</a></span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div
    class="dialog-box"
    *ngIf="dialogData.type === 'warnings' || dialogData.type === 'allergies'"
    [ngClass]="{
      'warning-container':
        dialogData.type === 'warnings' || dialogData.type === 'allergies',
    }"
  >
    <div class="header-container">
      <div class="header" [ngClass]="{'warnings-header':dialogData.type === 'warnings'}">
        <img
          [src]="
            dialogData.type === 'warnings'
              ? '../../../assets/black_warning.png'
              : '../../../assets/black_bacteria.png'
          "
        />
        <h2>{{ dialogData.type === "warnings" ? "Warnings" : "Allergies" }}</h2>
      </div>
      <img src="../../../assets/close-window.png" (click)="closeDialog()" />
    </div>
    <div class="warnings-container">
      <ng-container *ngFor="let warning of dialogData.warningData">
        <app-warnings-card [data]="warning"></app-warnings-card>
      </ng-container>
    </div>
  </div>
</div>
